<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar>
  <md-icon id="sidenav-toggle" (click)="sidenav.toggle()">menu</md-icon>
  <span>{{title}}</span>
</md-toolbar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <div class="scrolling-content">
      <md-list>
        <h3 md-subheader>Channels</h3>
        <a href="#{{channel.id}}" *ngFor="let channel of channels">
          <md-list-item>
            <md-icon md-list-icon>folder</md-icon>
            <h4 md-line>{{channel.name}}</h4>
          </md-list-item>
        </a>
      </md-list>
    </div>
  </md-sidenav>
  <div class="scrolling-content messages-container">
    <md-card *ngFor="let message of messages" class="message-card">
      <md-card-header>
        <md-card-subtitle>{{message.user_id}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          {{message.message}}
        </p>
      </md-card-content>
    </md-card>
  </div>
  <md-input-container id="editor" class="full-width">
    <input mdInput placeholder="Type in your message" value="">
  </md-input-container>
</md-sidenav-container>

